body {
	background: #333;
	width: 500px;
	color: #eee;
	margin: auto;
	padding-top: 100px;
	text-align: center;
	font-family: sans-serif;
}

a{
	color: #666;
}

input[type=text] {
	width: 85%;
	height: 40px;
	font-size: 25px;
	border-radius: 2px;
	color: #666;

}

.error {
	color: red;
}